name: build Docker images

on:
  push:
    tags:
      - 'v*'

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup-buildx
        uses: docker/setup-buildx-action@v3
      - name: Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set version
        id: vars
        run: |
          VERSION="${GITHUB_REF_NAME#v}"
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Build mfschunk
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          target: chunk
          platforms: linux/amd64,linux/arm64
          build-args: |
            MFS_VERSION=${{ steps.vars.outputs.version }}
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ghcr.io/${{ github.repository_owner }}/mfschunk:${{ steps.vars.outputs.version }}
            ghcr.io/${{ github.repository_owner }}/mfschunk:latest

      - name: Build mfsmetalogger
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          target: metalogger
          platforms: linux/amd64,linux/arm64
          build-args: |
            MFS_VERSION=${{ steps.vars.outputs.version }}
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ghcr.io/${{ github.repository_owner }}/mfsmetalogger:${{ steps.vars.outputs.version }}
            ghcr.io/${{ github.repository_owner }}/mfsmetalogger:latest
